::-webkit-scrollbar {
  display: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000; /* Темний фон для ефекту */
  color: #00ff00; /* Колір тексту, як на старих екранах */
  font-family: "Courier New", Courier, monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.typewriter h1 {
  font-size: 20px; /* Менший розмір шрифту для мобільних пристроїв */
  white-space: word-wrap;
  overflow: hidden;
  border-right: 3px solid;
  padding: 0 10px; /* Додатковий відступ для маленьких екранів */
}

#content {
  padding: 2.5%; /* Менший відступ для мобільних пристроїв */
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2.5%;
  background-color: #000;
  height: 100vh;
  width: 100%;
}

.sidebar,
.content {
  background-color: #1a1a1a;
  border-radius: 15px;
}

.content {
  overflow-y: auto;
}

#tabs {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.tabs_menu {
  position: absolute;
  display: flex;
  right: 0;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: 60%;
  background-color: #3f3f3f;
  border-radius: 0px 15px 0px 15px;
  z-index: 4;
  cursor: pointer;
}

.tab {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

/* .tab:hover{
    color: #00ff00;
} */

.tab::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust as needed */
  left: 0;
  height: 2px;
  width: 0;
  background-color: #00ff00; /* Line color */
  transition: width 0.3s ease;
}

.tab:hover::after {
  width: 100%;
}

#tabs .tabContent {
  width: 100%;
  min-height: 100px;
  position: relative;
  top: -1px;
  padding: 3%;
  z-index: 1;
  border-radius: 0px 0px 3px 3px;
  transition: all 0.3s;
}

#tabs .active {
  color: #00ff00;
  border-bottom: 2px solid #00ff00;
}

#tabs .hide {
  display: none;
}

#tabs .show {
  display: block;
}

.tabTitle {
  margin: 0;
}

.line {
  margin: 1rem 0;
  width: 5%;
  border: 0; /* Видаляє стандартні межі */
  border-top: 3px solid #00ff00; /* Колір і товщина верхньої межі */
}

.aboutMe {
  line-height: 28px;
  margin: 1.5rem 0;
}

.aboutMe > span {
  color: #00ff00;
  font-weight: bold;
}

.skills_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 16px;
}
.skills_card {
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1); /* Тінь для об'єму */
  transition: box-shadow 0.3s ease; /* Анімація при наведенні */
}

.tabSubtitle {
  margin: 1.5rem 0;
  display: flex;
  align-items: flex-end;
}

.skills_title {
  display: flex;
  align-items: center;
}

.skills_title img {
  margin-right: 10px;
  width: 64px;
  height: 64px;
}

.sidebar {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile_img {
  width: 80%;
  align-self: center;
}
.profile_name {
  margin: 1rem 0;
  text-align: center;
}
.profile_title {
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  border-radius: 5px;
  text-align: center;
  width: 80%;
}

.profile_title:hover {
  animation: drawCircle 1s linear forwards;
}

.sidebar_separator {
  border: 0;
  border-top: 3px solid #3f3f3f;
  width: 100%;
  margin-top: 1.5rem;
}

.info_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.info_item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.info_item > a {
  display: flex;
  align-items: center;
}

.info_item img {
  width: 52px;
  margin-right: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  border-radius: 5px;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social_icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transition: all 0.3s;
}

.social_icon:hover {
  animation: drawCircle 0.8s linear forwards;
}

@keyframes drawCircle {
  0% {
    box-shadow: 0px -4px 3px #00ff00;
  }
  25% {
    box-shadow: 2px 0px 3px #00ff00;
  }
  50% {
    box-shadow: 0px 4px 3px #00ff00;
  }
  75% {
    box-shadow: -2px 0px 3px #00ff00;
  }
  100% {
    box-shadow: 0px 0px 5px #00ff00;
  }
}

.project {
  margin-bottom: 1rem;
}

.project h3 {
  margin: 0;
}

form {
  display: grid;
  gap: 1rem;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
}

.tabSubtitle img {
  width: 32px;
  margin-right: 10px;
}

.education-item,
.work-item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px; /* Зменшений відступ */
}

.education-item::before,
.work-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px; /* Коригування вертикальної позиції кружечка */
  width: 10px;
  height: 10px;
  background-color: #00ff00; /* Колір кружечка */
  border-radius: 50%;
}

.education-item::after,
.work-item::after {
  content: "";
  position: absolute;
  left: 4px; /* Зменшена відстань між лінією і кружечком */
  top: 20px; /* Зміна розташування початку лінії */
  bottom: 0px; /* Коригування для завершення лінії під кружечком */
  width: 2px;
  opacity: 0.2;
  background-color: #00ff00;
  border-radius: 1px;
}

.education-item:not(:last-child):after,
.work-item:not(:last-child):after {
  bottom: -30px;
}

.education-title,
.work-title {
  margin: 0;
}

.education-dates,
.work-dates {
  display: block;
  font-style: italic;
  margin: 5px 0;
}

.education-description,
.work-description {
  margin: 10px 0 0;
  line-height: 1.6;
}

.skills {
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  padding: 1rem 3rem;
}
.skills-item {
  margin-top: 10px;
}

.skills-title {
  margin: 0;
  font-weight: 300;
}

.skills-title > span {
  color: #00ff00;
  opacity: 0.5;
  margin-left: 10px;
}
.skills-bar {
  height: 10px;
  background-color: #3f3f3f;
  border-radius: 10px;
  margin: 10px 0;
}
.skills-progress {
  height: 100%;
  background-color: #00ff00;
  border-radius: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Адаптивні колонки з мінімальною шириною 300px */
  gap: 20px;
}

.project {
  background-color: #1a1a1a;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s;
  height: 180px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover; /* Забезпечує правильне відображення зображення без деформацій */
  transition: opacity 0.5s ease;
}

.project > img.soon {
  width: 128px;
  height: 128px;
}

.project:hover img {
  opacity: 0.2; /* Затемнення при наведенні */
}

.project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s ease; /* Плавна поява тексту */
  pointer-events: none; /* Щоб текст не заважав кліку на посилання */
}

.project:hover .project-text {
  opacity: 1; /* Текст стає видимим при наведенні */
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-group {
  flex: 1;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  font-size: 16px;
  background-color: #1a1a1a;
  color: #fff;
}

.contact-form button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #3f3f3f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  animation: drawCircle 0.8s linear forwards;
}

.contact-form input:hover,
.contact-form textarea:hover {
  animation: drawCircle 0.8s linear forwards;
}

.burger-menu {
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0;
  border: 0;
  margin: 2rem;
  z-index: 12;
  display: none;
  background-color: transparent;
}

.burger-menu span {
  background-color: white;
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.5s;
  top: 50%;
  left: 0;
}

.burger-menu span:nth-child(1) {
  transform: translateY(-7px);
}

.burger-menu span:nth-child(3) {
  transform: translateY(7px);
}

.open > .burger-menu span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.open > .burger-menu span:nth-child(2) {
  transform: rotate(45deg);
}
.open > .burger-menu span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

span::before,
span::after {
  content: "";
}

.menu {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
  display: none;
  z-index: 10;
}

.open .menu {
  transform: translateX(0);
}

ul {
  margin: 5rem 0;
  padding: 0;
  list-style: none;
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1180px) {
  html {
    font-size: 14px;
  }

  .info_item img {
    width: 48px;
  }

  .social_icon {
    width: 48px;
    height: 48px;
  }

  .skills_title img {
    width: 48px;
    height: 48px;
  }

  .skills-bar {
    height: 8px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .info_item img {
    width: 44px;
  }

  .skills-bar {
    height: 7px;
  }
}

@media screen and (max-width: 768px) {
  #content {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .sidebar {
    border-radius: 0px;
    padding: 0rem;
  }

  .content {
    display: none;
    border-radius: 0px;
  }

  .social_icon {
    width: 40px;
    height: 40px;
  }

  .profile_img {
    width: 60%;
  }

  .info_item img {
    width: 40px;
  }

  .social {
    padding: 2rem;
    padding-top: 0;
  }

  .profile {
    padding: 2rem;
    padding-bottom: 0;
  }

  .burger-menu {
    display: block;
  }

  .menu {
    display: block;
  }
  

  .tabs_menu{
    display: none;
  }

  .tabTitle{
    text-align: end;
  }
  .tabContent{
    width: 100%;
    border-radius: 0px;
  }
}
